{%load static%}

<html>

<head>
    <title>Recona</title>
    <!-- CSS only -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

    <!-- JavaScript and dependencies -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</head>

<body>
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-kleo normal-nav">
        <div class="container">
            <a class="navbar-brand logo" href="">
                <img src="{% static 'img/logo.png' %}" width="150px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                    <li class="nav-item active">
                        <a href="{% url 'homee' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                       
                        <a href="{% url 'my_view'%}" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'res'%}" class="nav-link">Researches</a>
                    </li>
                    <li class="nav-item">
                       
                        <a href="{% url 'login'%}" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Header Start -->
    <section class="header-bg align-items-center position-relative d-flex" id="top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="header-title">
                        <img src="{% static 'img/logo.png' %}" style="margin-left :-45px;margin-top: 140px;">
                        <p class="text-sub ml-2 mb-4 pb-2">Lynch syndrome detection and tissue identification site </p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="mt-5 mt-lg-0">
                        <img src="{% static 'img/2.png' %}" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Header End -->
    <!-- About Start -->
    <section class="section bg-grey" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="text-center mb-5">
                        <h2 class="highlight header-colorize text-uppercase mb-3">About Us</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">

                <div class="col-lg-6 offset-lg-1">
                    <div class="text-sub mt-5 mt-lg-0">
                        <p class="mb-4 size-15">We are a group of students from the Department of bioinformatics faculty
                            of computer science assuit University. it is our graduation project and the aim is to the
                            Declan syndrome and tissue type identification</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="{% static 'img/sec2-removebg-preview.png' %}" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </section>


    <!-- team Start -->
    <section class="section bg-grey" id="testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="text-center mb-5">
                        <h2 class="highlight text-uppercase mb-3 header-colorize">Our Team</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-center m-auto">


                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="img-box"> <img src="{% static 'img/girl.png' %}" alt=""></div>
                                <p class="testimonial">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu
                                    sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
                                    semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius
                                    nibh non aliquet."</p>
                                <p class="overview"><b>Kit Johnson</b>, Account Analyst</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="girl.png" alt=""></div>
                                <p class="testimonial">"Vestibulum quis quam ut magna consequat faucibus. Pellentesque
                                    eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra
                                    sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh,
                                    facilisis gravida odio."</p>
                                <p class="overview"><b>Rick Gomez</b>, App Developer</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="girl.png" alt=""></div>
                                <p class="testimonial">"Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
                                    lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan
                                    tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa.
                                    Etiam hendrerit dolor eget rutrum."</p>
                                <p class="overview"><b>Chris Smith</b>, CEO, ProTools</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="girl.png" alt=""></div>
                                <p class="testimonial">"Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
                                    lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan
                                    tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa.
                                    Etiam hendrerit dolor eget rutrum."</p>
                                <p class="overview"><b>Chris Smith</b>, CEO, ProTools</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="girl.png" alt=""></div>
                                <p class="testimonial">"Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
                                    lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan
                                    tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa.
                                    Etiam hendrerit dolor eget rutrum."</p>
                                <p class="overview"><b>Chris Smith</b>, CEO, ProTools</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="girl.png" alt=""></div>
                                <p class="testimonial">"Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
                                    lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan
                                    tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa.
                                    Etiam hendrerit dolor eget rutrum."</p>
                                <p class="overview"><b>Chris Smith</b>, CEO, ProTools</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="girl.png" alt=""></div>
                                <p class="testimonial">"Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
                                    lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan
                                    tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa.
                                    Etiam hendrerit dolor eget rutrum."</p>
                                <p class="overview"><b>Chris Smith</b>, CEO, ProTools</p>
                            </div>

                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials End -->
     <!-- Contact Start -->
     <section class="section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="text-center mb-5">
                        <h2 class="highlight header-colorize text-uppercase mb-3">Contact</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-info">
                        <h4 class="title mb-4">Get Connected</h4>
            <ul> <i class="fa-solid fa-building-columns"></i> faculty of computer science and information , Assuit University</ul>
            <ul><i class="fa-solid fa-phone"></i> (008)347678</ul>
            <ul><i class="fa-solid fa-envelope"></i><a href="fci_assuit@fci.au.edu.eg" style="color: #1B5374;">  fci_assuit@fci.au.edu.eg</a></ul>
                    </div>
                </div>

                <div class="col-lg-7 offset-lg-1">
                    <div class="custom-form mt-4 mt-lg-0">
                        <form method="post" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email"
                                            placeholder="Enter Your Email.." />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="subject">Subject:</label>
                                        <input type="text" class="form-control" id="subject"
                                            placeholder="Enter Your Subject.." />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="message">Message:</label>
                                        <textarea name="message" id="message" rows="4" class="form-control"
                                            placeholder="Enter Your Message.."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" href="" class="btn btn-primary"><span class="mr-2 left-icon"><i
                                                class="fas fa-envelope"></i></span> Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact End -->
</body>